POSTGRES_USER=ielts
POSTGRES_PASSWORD=ielts_secret
POSTGRES_DB=ielts_db

# When running via docker compose, host is "postgres" (service name)
# When running locally, host is "localhost"
DATABASE_URL="postgresql://ielts:ielts_secret@postgres:5432/ielts_db"

JWT_SECRET="change_me_in_production"
JWT_REFRESH_SECRET="change_refresh_me_in_production"

FRONTEND_URL="http://localhost:3000"
PORT=4000

# AWS Cognito
AWS_REGION=ap-southeast-2
COGNITO_USER_POOL_ID=
COGNITO_FRONTEND_CLIENT_ID=
COGNITO_BACKEND_CLIENT_ID=
COGNITO_DOMAIN=
